<div class="d-flex align-items-center justify-content-center">
<%= form_with url: admin_attendance_path, local: true, method: :get do |f| %>
<%= f.collection_select :user_id, @users, :id, :name, { selected: @user_id } %>
<%= f.select :year, (Date.current.year - 5..Date.current.year + 1), { selected: @year } %><span>年</span>
<%= f.select :month, (1..12), { selected: @month } %><span>月の情報を</span>
<%= f.submit '表示', class: "btn btn-primary" %>
<% end %>
</div>
<% if @user_id %>
<div class="d-flex align-items-center justify-content-center">
<strong><%= @user_name %></strong>さんの情報を表示中
</div>
<% end %>
<%= flash[:notice] %>
<% if @user_id %>
<table class="table table-Hoverable">
<thead>
<tr>
<th>日付</th>
<th>シフト時間</th>
<th>勤怠情報</th>
</tr>
</thead>
<tbody>
<% @get_attendance_info.each do |attendance| %>
<tr>
<td><%= "#{attendance[:date]} (#{attendance[:day_of_week]})" %></td>
<td>
<%= form_with model: @shift, url: admin_attendance_path, local: true, method: :post do |f| %>
<%= f.select :start_time_hour, (0..23).map { |h| [format('%02d', h), h] } %>
<%= f.select :start_time_minute, (0..1).map { |m| ["#{format('%02d', m * 30)}", m * 30] } %><span>～</span>
<%= f.select :end_time_hour, (0..23).map { |h| [format('%02d', h), h] } %>
<%= f.select :end_time_minute, (0..1).map { |m| ["#{format('%02d', m * 30)}", m * 30] } %>
<%= f.hidden_field :user_id, value: @user_id %>
<%= f.hidden_field :year, value: @year %>
<%= f.hidden_field :month, value: @month %>
<%= f.hidden_field :day, value: attendance[:date].day %>
<%= f.submit '確定', class: "btn btn-primary", data: { turbo: false } %>
<% end %>
</td>
<td><%= "#{attendance[:start_time]}～#{attendance[:end_time]}" %>
</tr>
<% end %>
</tbody>
</table>
<% end %>
