<%= form_with url: user_attendance_path(current_user.id), local: true, methiod: :get do |f| %>
<%= f.select :year, (Date.current.year - 5..Date.current.year + 1) %>
<%= f.select :month, (1..12) %>
<%= f.submit '確定' %>
<% end %>
<%= @year %>
<%= @month %>
<table>
<thead>
<tr>
<th>日付</th>
<th>勤怠情報</th>
</tr>
</thead>
<tbody>
<% @dates_in_february_2024.each do |date_info| %>
<tr>
<td><%= "#{date_info[:date]} (#{date_info[:day_of_week]})" %></td>
</tr>
<% end %>
</tbody>
</table>


